<ion-list>
  <ion-item>
    <ion-input [(ngModel)]="citas" name="citas" label="" placeholder="Cita" labelPlacement="stacked" required minlength="5"></ion-input>
  <div *ngIf="!citasValida">
  <p style="color: red;">Atención: Debe escribir al menos 5 caracteres.</p>
    </div>

<ion-input [(ngModel)]="autores" name="autores" label="" placeholder="Autor" labelPlacement="stacked" required minlength="2"></ion-input>
  <div *ngIf="!autoresValido">
  <p style="color: red;">Atención: se aceptan al menos 2 caracteres.</p>
  </div>

    <ion-button slot="end" fill="clear" aria-label="agregar a la lista">
      <ion-icon slot="icon-only" name="add-circle-outline" />
    </ion-button>
  </ion-item>

</ion-list>

<button (click)="onClick()" type="button">
  Agregar 
</button>

