<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Lista de Citas
    </ion-title>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/configuracion']">
        <ion-icon icon="settings-outline"/>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-button  fill="clear" aria-label="agregar a la lista" [routerLink]="['/app-app-inicio']">
    <ion-icon slot="icon-only" name="add-circle-outline" />
  </ion-button>
</ion-content>
